@using TesteVolvo.DTOs
@model TruckModelReadDto
@{
    ViewData["Title"] = "Detalhes de modelos de caminhões";
}

<h1>Detalhes de modelos de caminhões</h1>

<div>   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseTruckModelReadDto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseTruckModelReadDto.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearOfModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearOfModel)
        </dd>       
    </dl>
</div>
 <div class="mb-3 form-group text-end">
      @Html.ActionLink("Voltar", "Index", "TruckModels" , null,  htmlAttributes: new {@class="btn btn-secondary"})                   
      @Html.ActionLink("Editar", "Edit", "TruckModels" , new {  id = Model.Id },  htmlAttributes: new {@class="btn btn-primary"})                  
</div>
